http_address="0.0.0.0:4180"
cookie_secret="OQINaROshtE9TcZkNAm-5Zs2Pv3xaWytBmc5W7sPX7w="
email_domains="*"
cookie_secure="false"
upstreams=["http://web.localhost"]
cookie_domains=[".localhost"] # Required so cookie can be read on all subdomains.
whitelist_domains=[".localhost"] # Required to allow redirection back to original requested target.
oidc_email_claim="sub"
insecure_oidc_allow_unverified_email="true"
allowed_roles="oauth2proxy"
set_xauthrequest="true"
# skip_provider_button="true"
skip_oidc_discovery="true"
reverse_proxy="true"

# keycloak provider
client_secret="dgfTCVYP0oC9W0t9THJtviAyh2V48Dio"
client_id="oauth2-proxy"
redirect_url="http://auth.localhost/oauth2/callback"

# in this case oauth2-proxy is going to visit
# http://auth.localhost/realms/master/.well-known/openid-configuration
# http://keycloak.localtest.me:9080/realms/master/.well-known/openid-configuration for configuration
# http://auth.localhost/realms/master
oidc_issuer_url="http://auth.localhost/realms/master"
provider="keycloak"
provider_display_name="Keycloak"